* {
    margin: 0;
    font-family: 'Inter', sans-serif;

}

/* header section styles */

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(18, 18, 18, 0.426), rgba(32, 29, 29, 0.734)), url('../images/donation1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    position: relative;


    background-position: center;
    background-size: cover;
}

/* .header-items {
    color: white;
    width: 90%;
    top: 90%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
  
    
} */

.header-items {
    color: white;
    text-align: center;
    margin: auto;
    padding-top: 20%;
}

.header-item {
    font-size: 50px;
    margin-bottom: 20px;
}

.header-item-1 {
    margin-bottom: 30px;
}

.btn-primary {
    background-color: #FF5959;
    padding: 16px 12px;
    border: 0;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    font-weight: 600;
    gap: 8px;
    width: 160px;
    height: 56px;
}

/* donate money section styles */
.amount-head {
    font-size: 45px;
    font-weight: 700;
    color: #121212;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 130px;


}

.amount {
    text-align: center;
}

.amount-des {
    font-size: 18px;
    color: #707070;
    text-align: center;
}

p {
    text-align: center;
}

.money-donate {
    display: flex;
    gap: 22px;
    margin: 50px 336px;
}

.money-value {
    background: #FAFAFA;
    border-radius: 5px;
    padding: 44px 25px;
   
}

.value {
    font-weight: 700;
    font-size: 30px;
    color: #707070;
   
}
.other-amount{
   color: #B3B3B3;
   

}
hr{
    color: #DADADA;
    margin: 9.5px 337px;
    margin-bottom: 30px;
}